@namespace TailBlazor.Tabs

<CascadingValue Value=this>
    <nav class="@Class" aria-label="Tabs">
        @ChildContent
    </nav>
</CascadingValue>

@(ActiveTab?.TabContent ?? ActiveTab?.ChildContent)

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string Class { get; set; } = "flex space-x-8 w-full";

    public ITab ActiveTab { get; private set; }

    public void AddTab(ITab tab)
    {
        if (ActiveTab == null)
        {
            SetActivateTab(tab);
        }
    }

    public void RemoveTab(ITab tab)
    {
        if (ActiveTab == tab)
        {
            SetActivateTab(null);
        }
    }

    public void SetActivateTab(ITab tab)
    {
        if (ActiveTab == tab) return;
        ActiveTab = tab;
        try
        {
            // Cannot process pending renders after the renderer has been disposed? try/catch hides this but gotta fix
            InvokeAsync(() => { StateHasChanged(); });
        }
        catch (Exception exception)
        {
            Console.WriteLine(exception.Message);
        }
    }
}